html {
  font-size: 62.5%;
  font-family: Lato;
}

.broadcast-wrapper {
  color: #fff;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.broadcast {
  background: #015E7D;
  padding: 1rem;
  font-family: Lato;
  border-radius: 0.6rem;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.288);
          box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.288);
}

.broadcast .broadcast__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.broadcast .broadcast__header img {
  max-width: 100%;
}

.broadcast .broadcast__header .broadcast__client {
  background: #fff;
  padding: 1.6rem;
}

.broadcast .broadcast__header .broadcast__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.broadcast .broadcast__header .broadcast__actions button {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border: 1px solid #fff;
  min-width: 6rem;
  margin-left: 0.5em;
}

.broadcast .broadcast__header .broadcast__actions button i {
  margin-bottom: 0.4rem;
}

.broadcast .broadcast__header .broadcast__actions button span {
  font-size: 1.4rem;
  font-weight: normal;
}

.broadcast .broadcast__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.broadcast .broadcast__title h2:first-child {
  margin-right: 8px;
}

.broadcast .broadcast__body {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #fff;
}

.broadcast .broadcast__body p {
  margin: 0;
}

.broadcast .broadcast__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.broadcast .broadcast__footer .broadcast__date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.broadcast .broadcast__footer .broadcast__date-time p {
  margin-right: 8px;
}

.broadcast .broadcast__footer .broadcast__date-time .broadcast--days {
  color: #16dddd;
}

p {
  font-size: 16px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .8em 1.4em;
  color: #fff;
  border-radius: 0.4em;
  font-size: 1.6rem;
  font-weight: bold;
  background: transparent;
  width: 100%;
  border: none;
}

.btn i {
  padding-left: 1.2rem;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-group button {
  margin-right: 1.2rem;
}

.btn-group button:last-child {
  margin-right: 0;
}

.btn-square {
  padding: 0.6em;
}

.btn-square i {
  padding-left: 0;
}
/*# sourceMappingURL=broadcast.css.map */